// Body
// $body-bg: ;
// .coba {
//     background-image: url("/img/bg-untad.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
// }

// Typography
// $font-family-sans-serif: "Montserrat", sans-serif;
$font-family-sans-serif: "Poppins", serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// //Colors
// $primary: #147bd1;
// $secondary: #753bbd;
// $success: #2dc84d;
// $warning: #f7ea48;
// $danger: #e03c31;
// $info: #ff7f41;

// $primary: #264653;
// $secondary: #ec8c74;
// $success: #2a9d8f;
// $warning: #e9c46a;
// $danger: #e76f51;
// $info: #f4a261;

$primary: #073b4c;
$secondary: #118ab2;
$success: #06d6a0;
$warning: #ffd166;
$info: #f78c6b;
$danger: #ef476f;
